
.centroid{
	  position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
 }    
	*,body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background:white;
		color:black;
		display:flex;
		justify-content:space-around;
		align-content:center;
		flex-wrap:wrap;
	
	}
	#left,#mid,#right {
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
		flex-direction:row;
	}   
	#player{
		display:flex;
		justify-content:center;
		align-content:center;
		width:100%;
		height:100%;
		flex-wrap:wrap;
		flex-direction:column;
		
	}    
	#top{
		width:100%;
		display:flex;
		justify-content:center;
		align-content:center;
		flex:2;
	}
	#middle{  
		width:100%;
		display:flex;
		justify-content:center;
		align-content:center;
		flex:7;
	}
	#bottom{   
		width:100%;
		display:flex;
		justify-content:center;
		align-content:center;
		flex:3;
	}    
	#left{
		flex:2;
		height:100%;
		z-index:1;
	}
	#mid{
		flex:8;  
		height:100%;
		z-index:auto;
	}
	#right{
		flex:2;    
		height:100%;
		z-index:1;
	}
	i{
		font-size:25px;    
	}  
	.bottom-layer{
		display:flex;
		justify-content:center;
		align-content:center;
		flex-direction:column;
		flex-wrap:nowrap;
	}
	#buttons > div{
		display:flex;
		justify-content:center;
		align-content:center;
		flex-direction:row;
	}
	#lb{
		flex:1;
	}
	#mb{
		flex:2;
	}
	#rb{
		flex:1;
	}
	.track {
    		width: 100%;
		display:flex;
		justify-content:center;
		align-content:center;
		flex:1;
		height:100%;
		width:100%;
	}	
	.bar {
		-webkit-appearance: none;
    		appearance: none;
    		width: 100%;
    		height: 10px;
    		background: #d3d3d3;
		border-radius: 15px;
    		outline: none; 
    		opacity: 0.7;
   		 -webkit-transition: .2s;
    		transition: opacity .2s;
	}
	.bar:hover {
    		opacity: 1;	
	}
	.bar::-webkit-slider-thumb {
    		-webkit-appearance: none;
    		appearance: none;
    		width: 20px;
		border-radius: 50%;
    		height: 20px; 
		background:#0000A0;
    		cursor: pointer;
	}   
	.voltrack{
		height:100%;    
		width:100%;
		display:flex;
		justify-content:center;
		align-content:center;
		flex-direction:column;
	}   
	 .volbar {
		 position:absolute;
		 top: 38%;
   		 transform: rotate(270deg);
		 -webkit-appearance: none;
    		 appearance: none;
    		 width: 200px;
    		 height: 10px;
    		 background: #d3d3d3;
		 border-radius: 15px;
    		 outline: none; 
    		 opacity: 0.7;
   		 -webkit-transition: .2s;
    		 transition: opacity .2s;
	}
	.volbar:hover {
    		opacity: 1;	
	}
	.volbar::-webkit-slider-thumb {
    		-webkit-appearance: none;
    		appearance: none;
    		width: 16px;
		border-radius: 50%;
    		height: 16px; 
		background:#0000A0;
    		cursor: pointer;
	}       
	#VolumeTrack{
		display:flex;
		justify-content:center;
		align-content:center;
		flex:1;
	}
	#playlist{
		overflow-x:auto;
		overflow-y:scroll;
		display:flex;
		justify-content:center;
		align-content:center;
		height:100%;
		width:100%;
		flex-direction:column;
		
	}
	.songarray{
		display:flex;
		justify-content:center;
		align-content:center;
		flex:1;
	}
	@media (orientation:landscape) and (max-width: 767px) {
   	.voltrack,.midleft,#lb,#rb {
      		display: none; /* visibility: none; */
   		    }
	}
